html, body {
width: 100%;
height: 100%;
}

.background {
width: 1920px;
height: 4000px;
background-color: #171717;
}

.container {
width: 1460px;
margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
margin-top: 45px;   
}

.vector {
 width: 218px;
 height: 50px;
 border: 1px solid #E4B564; 
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 37px;
}

.vector-a {
    text-decoration: none; 
    color: #E4B564;
    font-family: Circe;
    font-weight: 400;
    font-size: 18px;
}

h2 {
    height: 28px;
    color: #fff;
    font-family: Gilam;
    font-style: Bold;
    font-size: 50px;
    line-height: 28px;
    margin-top: 129px;
}

p {
    font-family: Gilam;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #fff;
    margin-top: 41px;  
}

.box-container {
    margin-top: 41px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(468px, 100%);
 
    
}

/* [class^="box-"] {
    height: 468px;
} */

.box-1 {
background-color: #634F2C;

display: flex;
       justify-content: center;
       align-items: center;
}

.box-2 {
    background-color: #B4A385;
    display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
}
.box-3 {
    background-color: #E4B564;
    display: flex;
       justify-content: center;
       align-items: center;
}


.box-contain-second {
    margin-top: 20px;
    gap: 20px;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 468px;
    
}

.box-4 {
    background-color: #635A4A;
    /* width : 45%;
    display: grid;
    grid-column: 1 / 4; 
    width: 715px;
   display: grid;
   grid-template-columns: 1fr 1fr; */
   display: flex;
   justify-content: center;
   align-items: center;
    
}

.box-5 {
    background-color: #B08C4D;
    /* width: 45%;
    display: grid;
    grid-row: 4 / 6;
       
       display: grid;
       grid-template-columns: 1fr 1fr; */
       display: flex;
       justify-content: center;
       align-items: center;
       

}

/* .box-6 {
    background-color: #B08C4D;
    /* width: 45%;
    display: grid;
    grid-row: 4 / 6; } */
    
      
[class^="box-"] {
    color: #fff;
    font-family: Gilam;
    font-size: 20px;
    font-weight: 700;
}

.third-contain {
    margin-top: 94px;
    height: 900px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 468x);
    grid-auto-rows: minmax(300px, 100%);
    grid-template-areas: 
    'box-1 box-2 box-3'
    'box-4 box-2 box-5'
    'box-4 box-8 box-9'
    ;
}

.park-box-1 {
background-color: #0E0E0E;
display: grid;
grid-area: box-1;
color: #fff;
padding: 47px 52px;

}

.park-box-2 {
  background-color: #242424;  
  display: grid;
  grid-area: box-2;
  color: #fff;
  padding: 47px 52px;

}

.park-box-3 {
 background-color: #1F1F1F;
 display: grid;  
 grid-area: box-3; 
 color: #fff;
 padding: 47px 52px;

      
}

.park-box-4 {
 background-color: #1F1F1F;  
 display: grid; 
 grid-area: box-4;    
 color: #fff;
 padding: 47px 52px;

}

.park-box-5 {
    background-color: #0E0E0E;    
    display: grid;
    grid-area: box-5;
    color: #fff;
  padding: 47px 52px;
      
}

/* .park-box-6 {
    background-color: #0A0909;
    display: grid;
} */

/* .park-box-7 {
    background-color: #0E0E0E; 
    display: grid;  
    
} */

.park-box-8 {
  background-color: #E4B564; 
  display: grid; 
  grid-area: box-8;
  color: #000;
  padding: 47px 52px;
}

.park-box-9 {
   background-color:#0A0909; 
   display: grid; 
   grid-area: box-9;
   color: #fff;
  padding: 47px 52px;

}

[class^="park-box-"] {
    font-family: Gilam;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    font-size: 20px;
}

.bottom-background {
margin-top: 211px;
background-color: #0E0E0E;
width: 1920px;
height: 1024px;
}

.last-container{
    width: 1460px;
    margin: 0 auto;
}

footer {
    height: 28px;
    display: flex;
    justify-content: space-between;


}

.last-h {
    margin-top: 171px;

}

.last-a {
    margin-top: 171px;
    width: 218px;
 height: 50px;
 border: 1px solid #E4B564; 
 display: flex;
 justify-content: center;
 align-items: center;
 text-decoration: none;
 color: #E4B564;
 font-size: 20px;
}

.last-box-container {
 
    margin-top: 214px;
    display: grid;
    grid-template-columns: repeat(3, 486px);
    grid-template-rows: repeat(2, 391px);
}



.last-box-1 { 
background-color: #634F2C;
display: flex;
justify-content: center;
align-items: center;

}

.last-box-2 { 
    background-color: #E8D2AB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.last-box-3 { 
    background-color: #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-box-4 { 
    background-color: #635A4A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-box-5 { 
    background-color: #B08C4D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-box-6 { 
    background-color: #634F2C;
    display: flex;
    justify-content: center;
    align-items: center;
}

